@page "/students"
@using BlazorAutoRenderingApp.Models
@using BlazorAutoRenderingApp.DAL
@inject Student_DAL StudentService

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
	<a href="students/create">Create New</a>
</p>

@if (students == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Age</th>
				<th>Date of Birth</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var student in students)
			{
				<tr>
					<td>@student.Name</td>
					<td>@student.Age</td>
					<td>@student.Birthday.ToString("MM/dd/yyyy")</td>
					<td>
						<a href="@($"students/edit?id={student.Id}")">Edit</a> |
						<a href="@($"students/details?id={student.Id}")">Details</a> |
						<a href="@($"students/delete?id={student.Id}")">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	private List<Student> students;

	protected override async Task OnInitializedAsync()
	{
		students = await Task.Run(() => StudentService.GetStudents());
	}
}
